<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Rise of Electric Vehicles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.0/dist/solar/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="static/css/style.css" />
    <style>
      .carousel-inner > .item > img {
        width: 100%;
        height: 1500px;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a href="../" class="navbar-brand">
          <img
            src="../static/image/logo_icon3.svg"
            width="50"
            height="25"
            class="d-inline-block align-top"
            alt=""
            style="filter: invert(100)"
          />
          Rise of Electric Vehicles</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#"
                id="themes"
                ><i class="fas fa-chart-bar"></i> Visualizations
                <span class="caret"></span
              ></a>
              <div class="dropdown-menu" aria-labelledby="themes">
                <a class="dropdown-item" href="global-emissions"
                  >Global CO2 Emissions</a
                >
                <a class="dropdown-item" href="global-charge-stations"
                  >Global Charge Station Locations</a
                >
                <a class="dropdown-item" href="/race-chart">US EV Sales Data</a>
                <a class="dropdown-item" href="/tesla-sales"
                  >Tesla Sales & Production Data</a
                >
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><i class="fas fa-table"></i> Data Tables</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://github.com/MwansaMwango/rise-of-electric-vehicles"
                ><i class="fab fa-github-square"></i> Github</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End of Navbar -->

    <!-- Hero / Jumbotron -->
    <div
      class="jumbotron text-center"
      style="
        background-image: url(../static/image/tesla-model-x-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 65vh;
      "
    >
      <h1 class="text-center align-text-bottom pt-2 display-4">
        <br />The Rise of Electric Vehicles<br />has only just began...
      </h1>
      <div class="container">
        <button id="statBtn" role="button" class="btn btn-primary">
          Click Here for Proof
        </button>
        <p id="statText" class="lead text-white text-center"></p>
      </div>
    </div>
    <!-- End of Jumbotron -->

    <div class="container">
      <i class="fa fa-quote-left fa-pull-left"></i>
      <blockquote class="blockquote text-center">
        <span class="mb-0 display-4">I like this car</span>
        <i class="fa fa-pull-right fa-quote-right"></i>
        <small>
          <footer class="blockquote-footer">
            was the response by the feme-fatale of the female terminator, T-X in
            <cite title="Source Title">Rise of the Machines(2003)</cite>
            <br />She was later seen driving off in a
            <u><b>petroleum</b></u> Mercedes Convertible.
          </footer>
        </small>
      </blockquote>

      <h2 class="lead">EVs, the long awaited answer to climate change?</h2>
      <p>
        It is 2021 and yes, the Rise of Electric Vehicles is here. With many
        denouncing the lack of efforts made by major corporations towards
        Earth’s Ozone depletion. Since 1964, carbon emissions has been on a
        steady rise, which in turns correlates to the rise in erratic global
        temperature.
      </p>
      <p>
        In the recent years, X% of carbon emissions inversely pushed the need
        for greener solutions. But, are EVs the answer? As of ??(date), ~2% of
        cars in the world are electric with Europe and China at the top of the
        list in market share.
        <br />(Insert world ev market share by country) <br />
        With the push for greener and cleaner solutions, major car manufacturers
        like Tesla, Volkswagen, Kia and Nissan, have all made the hurried dash
        for the green race.
      </p>
      <h2 class="lead">Barriers to EV adoption</h2>
      <p>
        Why would you buy an EV anyway right? Consumers still have concerns
        about the “Green Vehicle” market. Although most of these concerns can
        now be busted myths (as we will discovered), we will still highlight
        them below:

        <br /><strong>Price - Too expensive</strong><br />
        By far, historically, the biggest barrier to entry into the EV market
        has been the high cost. Because of its novelty, an EV-product such as
        the Leaf would landed a hefty $60,000 price tag in 2012. With that price
        tag, your typical consumer would be assuming it comes with the luxury of
        either a 4-door sedan, leather interiors or a 5 door SUV, with a horse
        power of a Ferrari.
        <br /><strong>What did we learn?</strong><br />
        About 60-70%?? of EV cost lies in the cost of its batteries. Battery
        costs have been declining dramatically due to innovation in materials
        and manufacturing methods. (Insert graph)

        <i>Wrights Law</i> Pioneered by Theodore Wright in 1936, Wright's Law
        aims to provide a reliable framework for forecasting cost declines as a
        function of cumulative production. Specifically, it states that for
        every cumulative doubling of units produced, costs will fall by a
        constant percentage. (Insert example price decline charts - first cars,
        first computer, first mobile phone)

        <br /><strong>Range Anxiety</strong><br />
        Consumers fear that they will run out of 'juice' in transit and have to
        charge their export const if they can find a charging station nearby.
        Whats worse if it takes long to charge worse have to recharge
        frequently. Which highlights the next obvious barrier to adoption.

        <br /><strong>Charge Station Availability</strong><br />
        Consumers, including Australian's are held back by not having sufficient
        charging facilities. Definitely, wouldn't want to ran out of jiuce in
        the middle of Australian outback.
        <br /><strong>What did we learn?</strong><br />
        There has been mass installation of charging infrastructure around the
        world. (Blurb about current status of Australian charging stations)
        (Insert price chart here)

        <br /><strong>Electricity Generation Source</strong><br />
        Well, our electricity is monopolised by the fossil fuel industry. today.
        While there are indeed alternatives such as solar, wind and thermal
        platforms, X% of fossil fuel production is still being channelled back
        into our grid and therefore, is Man’s energy source for switching on the
        lights at night. It’s a sad paradox, but a true one at best.
        <br /><strong>What did we learn?</strong><br />
        (Insert blurb and world electricity production data chart)
      </p>
      <h2 class="lead">Breaking the Barriers</h2>
      <p>
        Unbeknownst to many, Elon Musk’s Telsa was already been climbing up the
        EV ladder overtaking legacy car manufacters to become the most valuable
        motor vehicle company. Looking at the data available from the US alone.
        <a href="/race-chart">
          Tesla has come from behind to dominate the EV market
        </a>
        (Insert race chart) It seemed that Telsa and its team understood the
        promise <a href="/tesla-sales">these cars</a> would make for generations
        to come. With their giga-factories, innovations made to its batteries
        and car design created the benchmark for such types of vehicles
        supporting our road network. (Insert Tesla sales chart)
      </p>
      <h2 class="lead">What does the future hold?</h2>
      <p>
        With manufacturing and baterry innovation, government support,
        competition and climate change, the rise of EVs has already began and
        set to explode. By 2025, Tesla strives to uphold its promise of an
        affordable eletric car.
      </p>
      <p>
        <small>Sources:</small>
        <small>Source of data1</small>
        <small>Source of data2</small>
        <small>Source of data3</small>
      </p>

      <!-- Footer -->
      <footer id="footer">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="float-lg-right"><a href="#top">Back to top</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"
  ></script>
  <script>
    
    // Variables to hold data from random stat generator api
    var randomStat;
    var url = "http://localhost:5000/api/v1/resources/get-random-stat";
    var randomStatBtn = d3.select("#statBtn")
    // Function to handle get random stat button
    function handleClick(event) {
      d3.event.preventDefault();

      d3.json(url).then(data => {
          randomStat = data
          // Statistic text
          d3.select("#statText").text(randomStat);
          // Button Text
          d3.select("#statBtn").text("Need More Proof?");
      })

    }

    // Listen for random stat button click event
    randomStatBtn.on("click", handleClick);
  </script>
      <!-- TODO: cant access js from html file -->
      <!-- <script src="{{
        url_for('static', filename='js/random_stats.js') }}"></script>  -->
  
</html>
