<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Rise of Electric Vehicles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.0/dist/solar/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="static/css/style.css" />
    <style>
      .carousel-inner > .item > img {
        width: 100%;
        height: 1500px;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a href="../" class="navbar-brand">
          <img
            src="../static/image/logo_icon3.svg"
            width="50"
            height="25"
            class="d-inline-block align-top"
            alt=""
            style="filter: invert(100)"
          />
          Rise of Electric Vehicles</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#"
                id="themes"
                ><i class="fas fa-chart-bar"></i> Visualizations
                <span class="caret"></span
              ></a>
              <div class="dropdown-menu" aria-labelledby="themes">
                <a class="dropdown-item" href="global-emissions"
                  >Global Electricty Production</a
                >
                <a class="dropdown-item" href="global-charge-stations"
                  >Global Charge Station Locations</a
                >
                <a class="dropdown-item" href="/race-chart">US EV Sales</a>
                <a class="dropdown-item" href="/tesla-sales">Tesla Sales</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><i class="fas fa-table"></i> Data Tables</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://github.com/MwansaMwango/rise-of-electric-vehicles"
                ><i class="fab fa-github-square"></i> Github</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End of Navbar -->

    <!-- Hero / Jumbotron -->
    <div
      class="jumbotron text-center"
      style="
        background-image: url(../static/image/tesla-model-x-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 65vh;
      "
    >
      <div class="container">
        <h1 class="text-center align-text-bottom display-4">
          <br />The Rise of Electric Vehicles<br />has only just began...
        </h1>
        <button id="statBtn" role="button" class="btn btn-primary">
          Click Here for Proof
        </button>
        <h4 id="statText" class="text-white text-center pt-2"></h4>
      </div>
    </div>
    <!-- End of Jumbotron -->
    <div class="container">
      <div class="row">
        <div class="col">
          <i class="fa fa-quote-left fa-pull-left"></i>
          <blockquote class="blockquote text-center">
            <span class="mb-0 display-4">I like this car</span>
            <i class="fa fa-pull-right fa-quote-right"></i>
            <small>
              <footer class="blockquote-footer">
                was the response by the female terminator, T-X in
                <cite title="Source Title">Rise of the Machines(2003)</cite>
                <br />She was later seen driving off in a
                <u><b>petroleum</b></u> Mercedes Convertible.
              </footer>
            </small>
          </blockquote>
        </div>
      </div>
      <hr />
      <!-- Intro -->
      <div class="row">
        <h2>
          Current Situation - Only 0.48% of the 1.5 billion vehicles are
          electric!
        </h2>
        <p class="text-justify">
          It is 2021 and yes, the Rise of Electric Vehicles is here. Howevwe, as
          of September, 2019, only 0.48% of the 1.5 billion vehicles in the
          world are electric with Europe taking the lead in embracing EVs. This
          is quickly changing with carbon emissions reduction presure,
          innovation in car manufacturing and battery technology.
        </p>
        <p class="text-justify">
          EV adoption is bound to happen and we investigate what will aspects
          the will matter to make this a reality. The world has began to shift
          to electric vehicles.
        </p>
      </div>
      <!-- End of into -->
      <hr />
      <!-- EV Market Share vs. All Cars Section -->
      <div class="row text-justify">
        <h2>
          Europe dominates when it comes to EV market share of all new car sales
        </h2>
        <!-- EV Market Share Insight -->

        <p class="text-justify">
          In 2019, Europe overtook China with the proportion of electric
          vehicles sold. With the push for greener and cleaner solutions, major
          car manufacturers like Tesla, BYD, Hyundai, Volkswagen and Nissan,
          have all made the hurried dash for the green race.
        </p>

        <span id="market-share-plot" class="mr-5"></span>
        <fieldset class="form-group">
          <legend><i class="fas fa-filter"></i>Data Filters</legend>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input
                  type="radio"
                  class="form-check-input"
                  name="optionsRadios"
                  id="optionsRadios1"
                  value="top5"
                />
                Top 5
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  type="radio"
                  class="form-check-input"
                  name="optionsRadios"
                  id="optionsRadios2"
                  value="bottom5"
                />
                Bottom 5
              </label>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <select id="selCountry-marketShare" class="custom-select">
                <option selected="">Select Country(All)</option>
              </select>
            </div>
          </fieldset>
        </fieldset>
      </div>
      <hr />
      <!-- Barriers to adoption Seciton -->
      <div class="row">
        <h2>But why the low EV market share of only 0.48%?</h2>
        <p class="text-justify">
          Its stems to the big question - Why would you buy an EV anyway right?
          Consumers and manufactueres still have concerns about the “Green
          Vehicle” market. We investigated the extent of these conerns and
          barriers to entry.
        </p>

        <div class="row">
          <div class="col-md-3">
            <img
              src="../static/image/fuel-price.jpg"
              alt=""
              class="img-fluid img-thumbnail"
            />
          </div>
          <div class="col-md-9 text-justify">
            <h3>High Price</h3>
            <p>
              By far, historically, the biggest barrier to entry into the EV
              market has been the high cost. Because of its novelty, an
              EV-product such as the Leaf would landed a hefty $60,000 price tag
              in 2012. With that price tag, your typical consumer would be
              assuming it comes with the luxury of either a 4-door sedan,
              leather interiors or a 5 door SUV, with a horse power of a
              Ferrari.
            </p>
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col-md-3">
            <img
              src="../static/image/ev_battery_capacity.jpg"
              alt=""
              class="img-fluid"
            />
            <img
              src="../static/image/falling_battery_price_chart.png"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-md-9 text-justify">
            <h3>What did we learn?</h3>

            <p>
              <b>
                Due to innovation in materials and manufacturing methods,
                Battery costs have been declining dramatically.
              </b>
              About 21% of lithium battery EV cost lies in the battery pack. As
              of December 2019, the cost of electric-vehicle batteries has
              fallen 87% since 2010.
            </p>
            <p>
              <b>Wrights Law</b> Pioneered by Theodore Wright in 1936, Wright's
              Law aims to provide a reliable framework for forecasting cost
              declines as a function of cumulative production. Specifically, it
              states that for every cumulative doubling of units produced, costs
              will fall by a constant percentage. This decline in cost is
              evident in the evolution from first cars, computers or mobile
              phones.
            </p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-3">
            <img
              src="../static/image/empty_tank.png"
              alt=""
              class="img-fluid img-thumbnail"
            />
          </div>

          <div class="col-md-9 text-justify">
            <h3>Range Anxiety</h3>
            <p>
              Consumers fear that they will run out of 'juice' in transit and
              have to charge their export const if they can find a charging
              station nearby. Whats worse if it takes long to charge worse have
              to recharge frequently. Which highlights the next obvious barrier
              to adoption.
            </p>
            <h3>What did we learn?</h3>
            <p>
              Today, the average battery range for EVs is ranges from 350-450km,
              while Tesla has the Model 3 Long Range up to 657km. This is
              comparable to an average sized conventional car's full tank range.
            </p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-3">
            <img
              src="../static/image/tesla-charging.jpg"
              alt=""
              class="img-fluid img-thumbnail"
            />
          </div>
          <div class="col-md-9 text-justify">
            <h3>Charge Station Availability</h3>
            <p>
              Consumers, including Australian's, are held back by not having
              sufficient charging facilities. Definitely, wouldn't want to ran
              out of 'juice' in the middle of Australian outback.
            </p>
            <h3>What did we learn?</h3>
            <br />
            <p>
              There are a lot more charging stations in Europe, including the
              number of charging points per station. The US is catching up, but
              Australia is way behind. It is difficult to get information on
              China.
            </p>
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col-md-3">
            <img
              src="../static/image/power-grid.jpg"
              alt=""
              class="img-fluid img-thumbnail"
            />
          </div>
          <div class="col-md-9 text-justify">
            <h3>Electricity Generation Source</h3>
            <p>
              Well, our electricity is monopolised by the fossil fuel industry.
              today. While there are indeed alternatives such as solar, wind and
              thermal platforms. Significant portions of fossil fuel production
              are still being channelled back into our grid and therefore, is
              Man’s energy source for switching on the lights at night. It’s a
              sad paradox, but a true one at best.
            </p>
            <h3>What did we learn?</h3>
            <p>
              Countries who have adopted renewable source are more likely to
              also have more EV's on the road.
            </p>
          </div>
        </div>

        <hr />
        <div class="row text-justify">
          <h2>Tesla - Breaking the Barriers!</h2>
          <p>
            Unbeknownst to many, Elon Musk’s Telsa was already been climbing up
            the EV ladder overtaking legacy car manufacters to become the most
            valuable motor vehicle company.
          </p>
          <div class="justify-content-center">
            <img
              src="../static/image/tesla-gigafactory.jpg"
              style="height: 10.5rem"
              alt=""
              class="img-fluid"
            />
            <img
              src="../static/image/tesla-battery.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
          <p>
            Looking at the data available from the US alone.
            <a href="/race-chart">
              Tesla has come from behind to dominate the EV market
            </a>
            It seemed that Telsa and its team understood the promise
            <a href="/tesla-sales">these cars</a> would make for generations to
            come. With their giga-factories, innovations made to its batteries
            and car design created the benchmark for such types of vehicles
            supporting our road network.
          </p>
        </div>
        <hr class="text-white" />
        <div class="row text-justify">
          <h2>What does the future hold?</h2>
          <p>
            With manufacturing and battery innovation, government support,
            competition and climate change, the rise of EVs has already began
            and set to explode. BloombergNEF expects that these cells could be
            manufactured at 40% of the cost of current lithium-ion batteries,
            when produced at scale. By 2025, Tesla strives to uphold its promise
            of an affordable eletric car.
          </p>
          <div>
            <img
              src="../static/image/global.jpg"
              style="height: 400"
              alt=""
              class="img-fluid img-thumbnail"
            />
          </div>
        </div>
        <p>
          <small
            >Sources:
            <a
              href="https://github.com/MwansaMwango/rise-of-electric-vehicles/tree/main/data"
              >Github Project Data Files</a
            >
          </small>
        </p>
      </div>
      <!-- Footer -->
      <footer id="footer">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="float-lg-right"><a href="#top">Back to top</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/random_stats.js') }}"></script>
    <script src="{{ url_for('static', filename='js/market_share.js') }}"></script>
  </body>
</html>
